@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-underline {
    border-bottom-width: 0;
    background-image: black;
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
  }

  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }

  .accordion-header {
    @apply py-4 px-6 cursor-pointer;
  }
  .accordion-body {
    @apply max-h-0 overflow-hidden transition-all duration-200  cursor-pointer ease-in-out;
  }

  .accordion-header.active .icon {
    @apply transition ease-in-out duration-300;
    transform: rotate(180deg);
  }
  .rotate-0 {
    transform: rotate(0deg);
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
  .transition-transform {
    transition: transform 0.5s ease;
  }
  .navbar-transparent {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
  }
  .navbar-white {
    background-color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .translate-up {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }
  .translate-down {
    transform: translateY(0);
    transition: transform 0.5s ease;
  }
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translateY(-10px);
    opacity: 0;
  }
  .accordion-content.show {
    transform: translateY(0);
    opacity: 1;
  }
  .rotate-0 {
    transform: rotate(0deg);
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
}
